.banner{
    width: 100%;
    padding:20px
    background: rgb(9,92,121);
background: linear-gradient(90deg, rgba(9,92,121,1) 0%, rgba(255,255,255,1) 54%);
}
.banner h1{
color: rgb(65, 153, 84);
}
.banner h2{
color: aqua;
}
.banner p{
color: rgb(58, 58, 58);
}