.banner{
    width: 100%;
    padding:20px;
    background: rgb(64,128,151);
background: linear-gradient(90deg, rgba(64,128,151,1) 32%, rgba(255,255,255,1) 80%);
}

.banner h1{
color: rgb(0, 16, 104);
font-size:24px ;
}
.banner h2{
color: aqua;
}

.banner p{
color: rgb(0, 0, 0);
}

.conteudo1{
    width: 100%;
    padding:20px;
    background: rgb(64,128,151);
background: linear-gradient(90deg, rgba(64,128,151,1) 32%, rgba(255,255,255,1) 80%);
}

.conteudo1 h1{
color: rgb(0, 16, 104);
font-size:24px ;
}
.conteudo1 h2{
color: aqua;
}

.conteudo1 h3{
    color: aqua;
}
.conteudo1 p{
color: rgb(0, 0, 0);
}
.conteudo2{
    width: 100%;
    padding:20px;
    background: rgb(64,128,151);
background: linear-gradient(90deg, rgba(64,128,151,1) 32%, rgba(255,255,255,1) 80%);
}

.conteudo2 h1{
color: rgb(0, 16, 104);
font-size:24px ;
}
.conteudo2 h2{
color: aqua;
}

.conteudo2 h3{
    color: aqua;
}
.conteudo2 p{
color: rgb(0, 0, 0);
}

.lista li{
    padding: 10px;
}